<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientomx-app" onloadstart="invocarPeticion" on-load-start="invocarPeticion">
  <template>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto id="obtenerMovimiento"
                url="http://localhost:3000/v3/movimientos/{{id}}"
                handle-as="json"
                on-response="mostrarMovimiento">
    </iron-ajax>
			<div hidden$="{{noTengoMovimientos}}">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<h5 class="card-title">id: {{movimientos.0.id}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">fecha: {{movimientos.0.fecha}}</h6>
						<p class="card-text">importe {{movimientos.0.importe}}</p>
						<a href="#" class="card-link">longitud: {{movimientos.0.latitud}}</a><br>
						<a href="#" class="card-link">latitud: {{movimientos.0.longitud}}</a><br>
						<a href="#" class="card-link">ciudad: {{movimientos.0.ciudad}}</a><br>
					</div>
				</div>
				</template>
			</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientomxApp extends Polymer.Element {
      static get is() { return 'movimientomx-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
					noTengoMovimientos: {
            type: Boolean,
						value: true
          }
        };
      }
      invocarPeticion()
      {
				console.log("en invocar peticion");
        //dolar es para buscar en shadow dom
        this.$.obtenerMovimiento.generateRequest();
      }
      //indicar que a mostrarProductos le pasamos los datos que regresa iron ajax
      mostrarMovimiento(data)
      {
				console.log("en respuesta");
				console.log(data.detail.response);
        this.movimientos=data.detail.response;
				this.noTengoMovimientos=false;
      }
    }
    window.customElements.define(MovimientomxApp.is, MovimientomxApp);
  </script>
</dom-module>
