<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="loginmx-app">
  <template>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos"
                url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
                handle-as="json"
                on-response="mostrarProductos">

    </iron-ajax>
    <iron-ajax id="lanzarLogin"
                url="http://127.0.0.1:3000/v2/usuarios/login"
                method="POST"
                headers='{"email":"[[valuser]]","pass":"[[valpass]]","Content-Type":"application/json"}'
                on-response="respuestaLogin">

    </iron-ajax>

    <div>
      <label for="">[[etuser]]</label>
      <input type="text" name="" value="{{valuser::input}}" placeholder="elenanito@bbva.com" required="required">
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input value="{{valpass::input}}" required="required" type="password">
    </div>
    <div>
      <button on-click="hacerLogin" type="button" value="login" class="btn btn-info">[[etlogin]]</button>
        <button on-click="invocarPeticion" class="btn btn-warning">Invocar</button>
    </div>
		<table hidden$="{{noTengoProductos}}" class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Nombre</th>
				<th>Precio</th>
			</thead>
			<tbody>
				<template is="dom-repeat" items="{{productos}}" as="prd">
					<tr>
						<td>{{prd.ProductID}}</td>
						<td>{{prd.ProductName}}</td>
						<td>{{prd.UnitPrice}}</td>
					</tr>
				</template>
			</tbody>
		</table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type: String
          },
          productos: {
            type: Array
          },
					noTengoProductos: {
            type: Boolean,
						value: true
          }
        };
      }
      hacerLogin()
      {
        //this. es para buscar en la funcion en la que estamos
        //console.log("Login correcto de"+this.valuser);
				console.log(this.$.lanzarLogin.headers);
        this.$.lanzarLogin.generateRequest();
      }
      respuestaLogin(data)
      {
        console.log(data.detail.response);
				console.log(data.detail.response);
      }
      invocarPeticion()
      {
        //dolar es para buscar en shadow dom
        this.$.obtenerProductos.generateRequest();
      }
      //indicar que a mostrarProductos le pasamos los datos que regresa iron ajax
      mostrarProductos(data)
      {
        console.log(data.detail.response.value);
        this.productos=data.detail.response.value;
				this.noTengoProductos=false;
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
