<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientosmx-app">
  <template>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
                url="http://localhost:3000/v3/movimientos"
                handle-as="json"
                on-response="mostrarMovimientos">
    </iron-ajax>
    <div>
      <button on-click="invocarPeticion" type="button" class="btn btn-info">[[etmovimientos]]</button>
    </div>

			<div hidden$="{{noTengoMovimientos}}">
				<template is="dom-repeat" items="{{movimientos}}" as="mvt">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<h5 class="card-title">id: {{mvt.id}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">fecha: {{mvt.fecha}}</h6>
						<p class="card-text">importe {{mvt.importe}}</p>
						<a href="#" class="card-link">longitud: {{mvt.latitud}}</a><br>
						<a href="#" class="card-link">latitud: {{mvt.longitud}}</a><br>
						<a href="#" class="card-link">ciudad: {{mvt.ciudad}}</a><br>
						<a href="/movimientos/[[mvt.id]]" class="card-link">ver detalles</a><br>
					</div>
				</div>
				</template>
			</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosmxApp extends Polymer.Element {
      static get is() { return 'movimientosmx-app'; }
      static get properties() {
        return {
          etmovimientos: {
            type: String
          },
          movimientos: {
            type: Array
          },
					noTengoMovimientos: {
            type: Boolean,
						value: true
          }
        };
      }
      invocarPeticion()
      {
        //dolar es para buscar en shadow dom
        this.$.obtenerMovimientos.generateRequest();
      }
      //indicar que a mostrarProductos le pasamos los datos que regresa iron ajax
      mostrarMovimientos(data)
      {
				console.log("en respuesta");
				console.log(data);
        this.movimientos=data.detail.response;
				this.noTengoMovimientos=false;
      }
    }
    window.customElements.define(MovimientosmxApp.is, MovimientosmxApp);
  </script>
</dom-module>
